@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.text-bold{
  font-weight: 700;
}

.text-purple {
  color: #7538f1 !important;
}

.nav-link{
    color: #7538f1 !important;
}
