@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$primaryColor: #7538f1;
$primaryLightColor: #cdb5ff;

body {
  font-family: 'Montserrat', sans-serif;
}

.text-bold{
  font-weight: 700;
}

.text-semibold{
  font-weight: 600;
}

.text-purple {
  color: $primaryColor !important;
}

.nav-link{
    color: $primaryColor !important;
}

.btn {
  border-radius: 15px !important;
}

.navbar {
  .btn-outline-primary {
    border-color: $primaryColor !important;
    &:hover{
      color: #fff !important;
      background-color: $primaryColor;
      border-color: $primaryColor !important;
    }
  }
}

.about{
  .about-section {
    background: url("../img/bg.png") no-repeat center top;
    background-size: 2040px;
    width: 100%;
  }
  .logo{
    width:120px;
  }
}

.btn-purple {
  color: $primaryColor !important;
  border-color: $primaryColor !important;

  &:hover{
    color: #fff !important;
    background-color:$primaryColor !important;
  }
}

.footer {
  background-color:$primaryColor;
  width:100%;

  .logo img {
    width: 50px;
  }

  .text-light {
    color: $primaryLightColor !important;
  }
}

.bg-purple{
  background-color: $primaryColor;
}
@media only screen and (max-width: 766px){
  .about {
    .border-start {
      border-left: 0px solid #fff !important;
    }
  }
}